.cardContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 12px;
    background-color: aliceblue;
    border: 2px solid #ddd;
    box-shadow: 0 0 15px #ddd;
    margin-left: 30px;
}

img{
    border-radius: 2px;  
    margin-bottom: 0px;
}

.closeButton{
    align-self: flex-end;
    width: 25px;
    height: 25px;
    margin-bottom: 5px  ;
    background-color: red;
    color: wheat;
    border: solid 1px black;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
}
.headDiv{
    position: relative;
    display: flexbox;
    background-color: aliceblue;
}

.infoDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 5px;
    margin-bottom: 2px;
}

.name{
    color: aliceblue;
    margin: 0px;
    position: absolute;
    bottom: 20px;
    left: 10px ;
    padding: 3px;
    background-color: darkolivegreen;
    opacity: 0.8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: large;
}

h2{
    margin: 15px;
    text-decoration: none;
    font-family:  'Segoe UI';
    font-weight: normal;
    font-size: medium;
}