.navContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: darkslategrey;
    padding: 15px;
    width: 85vw;
}

.link{
    color: darkslategray;
    border-radius: 3px;
    align-content: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    text-decoration: none;
    margin-right: 30px;
    background-color: aliceblue;
}